html {
  user-select: none;
  font-family: "Poppins", sans-serif;
  margin: 0;
}
html,
body {
  height: 100%;
  margin: 0;
  /* background-color: rgb(0, 0, 0); */
  padding: 0;
}
@media only screen and (max-width: 1200px) {
  .top-playlist #second {
    font-size: 30px;
  }
  .search-bar {
    display: none;
  }
  .liked-top #heart {
    font-size: 30px !important;
  }
  .songs-top #title-song {
    font-size: 30px !important;
  }
}
body {
  margin: 0;
}
.div-outer {
  display: flex;
}
.side-div {
  width: 9cm;
  min-width: 9cm;
  color: white;
  background-color: rgb(0, 0, 0);
  height: 100vh;
  /* height: 42cm; */
}
.side-div li {
  font-size: 17px;
}
#top {
  color: white;
  background-color: rgb(0, 0, 0);
}
ul {
  margin-top: 1cm;
}
li {
  list-style-type: none;
  font-size: 20px;
  padding: 10px;
}
button:hover {
  cursor: pointer;
}
.nav-division {
  display: flex;
  background-color: rgb(16, 16, 16);
  justify-content: flex-end;
  width: 100%;
  margin-top: 0;
  color: white;
  height: 2cm;
}
.main-div {
  display: flex;
  height: 100%;
}
i {
  background-color: white;
}
.row {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.collection-outer {
  overflow: scroll;
  color: white;
  flex: 80%;
  height: 12cm;
}
.collection {
  flex: 80%;
  display: flex;
  padding: 5px;
  height: 8cm;
  flex-wrap: wrap;
  overflow: hidden;
}

.side-div li:hover {
  background-color: rgb(16, 16, 16);
  cursor: pointer;
}

.song {
  margin: 1%;
  padding: 5px;
  border: 3px solid black;
  width: 5cm;
  color: white;
  height: 8cm;
  background-color: rgb(23, 23, 23);
  border-radius: 5px;
  border: none;
}

#abs {
  position: fixed;
}

.song img {
  height: 70%;
  max-width: 5cm;
  width: 5cm;
  border-radius: 10px;
}

.song h5 {
  align-self: center;
  margin-left: 5%;
}

.nav-division ul {
  margin-top: 1%;
  /* margin-left: 25cm; */
  margin-right: 1px;
  /* margin-left: 100%; */
  display: inline-flex;
  /* justify-content: space-around; */
}

.nav-division li {
  align-self: center;
  display: flex;
}

.nav-division button {
  border-radius: 30px;
  background-color: white;
  color: black;
  cursor: pointer;
  border-radius: 60px;
  background-color: white;
  width: 2.5cm;
  font-size: 14px;
  font-weight: 600;
  height: 1.3cm;
}

.nav-division button:hover {
  transform: scale(1.2);
  transition: 400ms;
}

.head {
  background-color: rgb(0, 0, 0);
  position: absolute;
  width: 23%;
}
.fotter {
  width: 100%;
  background-color: black;
}
.collection::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.collection::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
.collection::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 60px;
}

/* Handle on hover */
.collection::-webkit-scrollbar-thumb:hover {
  background: whitesmoke;
}
.song:hover {
  cursor: pointer;
  background-color: black;
  transition: 400ms;
  display: inline-block;
}

a {
  text-decoration: none;
  color: white;
}
.list {
  background-color: rgb(16, 16, 16);
  flex: 70%;
  display: flex;
  justify-content: space-around;
  height: 100%;
  flex-wrap: wrap;
  overflow: scroll;
  overflow-x: hidden;
}
.person {
  background-color: rgba(165, 42, 42, 0.4);
  height: 45%;
  width: 100%;
  display: flex;
}
.person:hover {
  box-shadow: 5px 10px #888888;
}
.personbutton {
  border-radius: 60px;
  background-color: chartreuse;
  width: 50px;
  height: 50px;
  margin-left: 60%;
  margin-top: 10%;
  border: none;
}
.personbutton:hover {
  background-color: green;
  transform: scale(1.2);
  transition: 400ms;
}
.person img {
  margin-left: 4%;
  margin-top: 2%;
  margin-bottom: 2%;
  border-radius: 10px;
}
.column {
  padding: 20px;
  color: white;
  height: 1cm;
  width: 70%;
  background-color: rgba(16, 16, 16, 0.2);
  border-radius: 5px;
  margin-left: 7%;
}

.column:first-child {
  margin-top: 10%;
}

.column:last-child {
  margin-bottom: 3%;
}
.column:hover {
  background-color: rgb(29, 29, 29);
  cursor: pointer;
}
.list::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.list::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
.list::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 60px;
}

/* Handle on hover */
.list::-webkit-scrollbar-thumb:hover {
  background: whitesmoke;
}
.column a:hover {
  text-decoration: underline;
}
.playlists {
  background-image: linear-gradient(brown, rgb(16, 16, 16));
  margin-top: 0%;
  width: 100%;
  margin-left: 0%;
}
#h3 {
  color: white;
  margin-top: 6cm;
}
.info {
  font-size: 15px;
}
.play {
  position: fixed;
  width: 100%;
  height: 2cm;
  bottom: 0cm;
  background-color: rgb(24, 24, 24);
  display: flex;
  align-items: center;
}
body {
  margin: 0;
}
progress::-webkit-progress-value {
  background: greenyellow;
}
progress {
  color: greenyellow;
}
#sound {
  height: 0.1cm;
  background-color: green;
  background: greenyellow;
}
#sound::-webkit-slider-thumb:active {
  appearance: none;
  background-color: grey;
  background: grey;
}
#sound::-moz-range-thumb:hover {
  background: #4caf50; /* desired color of the thumb */
  background-color: greenyellow;
  cursor: pointer;
}
.outer-play {
  background-color: rgb(0, 0, 0);
  display: flex;
  margin-top: 0;
  width: 100%;
}
.top-playlist {
  display: flex;
  background: linear-gradient(
    to bottom,
    #515151,
    #3d3d3d,
    #2a2a2a,
    #191919,
    #000000
  );
  width: 100%;
  height: 10cm;
  min-height: 10cm;
}

.inner-playlist {
  display: flex;
  background-color: rgb(40, 40, 40);
  width: 6cm;
  height: 6cm;
  box-shadow: 7px 7px 8px 8px black;
  margin-top: 3cm;
  margin-left: 2cm;
}
#second {
  font-size: 65px;
}
.search-box {
  position: relative;
  background-color: white;
  display: flex;
  margin-top: 5%;
  height: 1cm;
  width: 7cm;
  border-radius: 15px;
}

.search-box input[type="text"] {
  padding-right: 30px; /* adjust the padding to make room for the icon */
}

.search-box i {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}
.search-box input:focus {
  outline: none;
}
.search-box input[type="text"] {
  border: none;
}
.lang:hover {
  cursor: pointer;
}
.song-div:hover {
  cursor: pointer;
  background-color: rgb(50, 50, 50) !important;
}
.liked-top {
  background-image: linear-gradient(
    to top,
    #30225e,
    #37276c,
    #3e2c79,
    #463288,
    #4d3796
  ) !important;
  width: 100%;
  height: 9cm;
  display: flex;
}
.like-heart {
  display: flex;
  background-image: linear-gradient(
    to left top,
    #737f8f,
    #54709f,
    #3c5eac,
    #3748b2,
    #4927b1
  );
  margin-top: 5%;
  margin-left: 3%;
  width: 7cm;
  height: 7cm;
}
.top-like {
  background-image: linear-gradient(
    to top,
    #121212,
    #16141d,
    #181527,
    #1c1631,
    #1f173b
  );
}
.hidden-name {
  display: none;
}
.hover-user:hover {
  background-color: red;
}
.songs-top {
  background-image: linear-gradient(
    to top,
    #2c0b02,
    #340d04,
    #3c0f04,
    #451105,
    #4d1304
  );
  width: 100%;
  height: 9cm;
  display: flex;
}
.songs-heart {
  display: flex;
  background-image: linear-gradient(
    to left top,
    #737f8f,
    #54709f,
    #3c5eac,
    #3748b2,
    #4927b1
  );
  margin-top: 5%;
  margin-left: 3%;
  width: 7cm;
  height: 7cm;
  box-shadow: 5px 5px 5px 5px black;
  min-width: 5cm;
}
.top-songs {
  background-image: linear-gradient(
    to top,
    #121212,
    #141014,
    #180e13,
    #1c0b0e,
    #1f0903
  );
}
.user input {
  width: 10cm;
  font-size: 17px;
  border: none;
}

.user input:focus {
  outline: none;
}
.options {
  height: 2.5cm;
  width: 5cm;
  background-color: white;
  border-radius: 5px;
  margin-left: 80%;
  margin-top: 5%;
  display: none;
  box-shadow: 10px 10px 10px 10px black;
  align-items: center;
  color: black;
}
.free-sign {
  position: fixed;
  width: 100%;
  height: 2cm;
  font-size: 20px;
  bottom: 0cm;
  display: flex;
  background-image: linear-gradient(
    to left,
    #6186e3,
    #7576d8,
    #8763ca,
    #974fb7,
    #a336a1
  );
}
.free-sign ul {
  margin-top: 5%;
  margin-top: 0cm;
  list-style-type: disc;
}
.free-sign li {
  padding: 0;
  font-size: 15px;
  color: white;
}
.free-sign button {
  width: 4cm;
  background-color: white;
  height: 1.3cm;
  font-size: 15px;
  font-weight: 700;
  border-radius: 30px;
}
.hang {
  background-color: blue;
  width: 8cm;
  height: 4cm;
  border-radius: 15px;
  position: fixed;
  margin-left: 0cm;
  margin-top: 7cm;
  display: none;
}
.hang button {
  background-color: white;
  width: 2cm;
  height: 1cm;
  border-radius: 25px;
}
.outerplay {
  height: 100%;
}
.outerplay input:focus {
  outline: none;
}

.second-in {
  resize: none;
  outline: none;
  text-align: start;
  border: none;
  border-radius: 5px;
}
.second-in:focus {
  border: none;
}
.playlist-name:hover {
  cursor: pointer;
}
